In [2]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

# EDA for Receiving -> IBNP Data

In [28]:
df = pd.read_csv("Receiving to PTC/DC820 Putaway IBNP.csv")

## Drop unnecessary colummns

In [29]:
cols = [df.columns[0], "WHSE", "TASK_ID", "STAT_CODE"]
for col in cols:
    try:
        df.drop(columns = [col], inplace=True)
    except:
        continue

## Convert to datetime format

In [30]:
from data_load import convert_to_datetime

In [31]:
cols = [
            "CREATE_DATE_TIME",
            "MOD_DATE_TIME"
]
for col in cols:
    try:
        df[col] = df[col].apply(convert_to_datetime)
    except:
        pass

## Filter out those that are not IBNP

In [32]:
df = df[df["TEST"].str.contains("IBNP")]

In [33]:
df['LOCN_BRCD_1'] = "IBNP"

In [34]:
# filter out only ends with R
l = list(set(df["LOCN_BRCD"]))
for x in l:
    print(x)

069R
008R
019R
123R
096R
105R
223R
117R
094R
061R
187R
051R
229R
017R
237R
217R
075R
098R
003R
011R
047R
237R005
181R
185R
012R
055R
100R
090R
007R
173R
001R
237R007
107R
219R
049R
183R
177R
193R
215R
018R
237R009
175R
081R
109R
053R
087R
067R
065R
231R
009R
127R
085R
097R
099R
179R
221R
239R
135R
010R
057R
006R
077R
237R006
002R
209R
195R
005R
197R
020R
233R
091R
131R
113R
089R
024R
121R
125R
129R
133R
191R
093R
022R
119R
016R
237R004
111R
189R
095R
004R
115R
073R
137R
083R
171R
071R
063R
021R
079R

## Calculate time_taken and play with distributions

In [35]:
df["time_taken"] = df["MOD_DATE_TIME"] - df["CREATE_DATE_TIME"]
df["time_taken"] = df["time_taken"].apply(lambda x: x.total_seconds())

In [36]:
df['time_taken'].quantile([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.91, 0.92, 0.93, 0.9325, 0.935, 0.9375, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 0.995])

0.1000       570.0000
0.2000      4507.0000
0.3000     11344.0000
0.4000     18747.0000
0.5000     27854.5000
0.6000     39233.0000
0.7000     53660.0000
0.8000     73267.0000
0.9000     99314.0000
0.9100    103511.6500
0.9200    111198.0000
0.9300    120470.2500
0.9325    124068.5875
0.9350    128492.0250
0.9375    131996.3125
0.9400    135016.2000
0.9500    144462.5000
0.9600    158015.6000
0.9700    173646.2000
0.9800    200375.7000
0.9900    231556.7500
0.9950    285975.8000
Name: time_taken, dtype: float64

In [37]:
df

,CNTR_NBR,LOCN_BRCD,LOCN_BRCD_1,CREATE_DATE_TIME,MOD_DATE_TIME,TEST,USER_ID,time_taken
0,BT0151175,191R,IBNP,2024-04-24 11:05:01,2024-04-24 13:50:30,Drop in IBNP,cpowell,9929.0
1,BT0151182,191R,IBNP,2024-04-24 12:16:01,2024-04-25 08:46:05,Drop in IBNP,cpowell,73804.0
4,BT0151168,191R,IBNP,2024-04-24 11:11:08,2024-04-24 13:33:24,Drop in IBNP,cpowell,8536.0
5,BT0151174,191R,IBNP,2024-04-24 11:23:58,2024-04-25 09:42:24,Drop in IBNP,ralvarez,80306.0
6,BW0068631,009R,IBNP,2024-04-24 14:24:44,2024-04-25 06:15:27,Drop in IBNP,cpowell,57043.0
...,...,...,...,...,...,...,...,...
33904,BF0006145,020R,IBNP,2024-04-14 08:11:32,2024-04-15 21:38:18,Drop in IBNP,jamonoo,134806.0
33905,BF0006146,020R,IBNP,2024-04-14 08:11:33,2024-04-15 21:42:24,Drop in IBNP,jamonoo,135051.0
33907,BS9282812,121R,IBNP,2024-04-14 08:44:40,2024-04-15 21:06:59,Drop in IBNP,jamonoo,130939.0
33908,BS9282811,121R,IBNP,2024-04-14 08:44:41,2024-04-15 21:07:44,Drop in IBNP,jamonoo,130983.0
33930,BH9246865,061R,IBNP,2024-04-18 17:18:59,2024-04-18 17:27:50,Drop in IBNP,sromero,531.0